---
import { getEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import BlogHeader from "@components/BlogHeader.astro";
import TableOfContents from "@components/TableOfContents/TableOfContents.astro";
// 1. Get the slug from the incoming server request
const { slug } = Astro.params;
if (slug === undefined) {
    throw new Error("Slug is required");
}
// 2. Query for the entry directly using the request slug
const entry = await getEntry("articles", slug);
// 3. Redirect if the entry does not exist
if (entry === undefined) {
    return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content, headings } = await entry.render();
---

<Layout title={`${entry.data.title} | Matteo Gassend`}>
    <BlogHeader slot="header" />
    <div class="container mx-auto prose">
        <img transition:name={`article-${entry.slug}`} src={entry.data.cover} />
        <h1>{entry.data.title}</h1>
        <TableOfContents {headings} />
        <div class="w-full">
            <Content />
        </div>
    </div>
</Layout>
