---
import { getCollection } from "astro:content";
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import { get } from "./api/articles";
import type { Article } from "../utils/article.type";
import ProjectCard from "../components/ProjectCard.astro";
import ArticleCard from "../components/ArticleCard.astro";
import profilePic from "../images/profile.webp";
import EducationCard from "../components/EducationCard.astro";
import CertificateCard from "../components/CertificateCard.astro";
import ExpCard from "../components/ExpCard.astro";
import ContactCard from "../components/ContactCard.astro";

const { articles }: { articles: Article[] } = await (await get()).json();
const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.date - a.data.date
);

const education = (await getCollection("education"))
  .sort((a, b) => b.data.graduation - a.data.graduation)
  .slice(0, 3);
const certicates = (await getCollection("certifications"))
  .sort((a, b) => b.data.obtentionYear - a.data.obtentionYear)
  .slice(0, 3);
const experiences = (await getCollection("experience"))
  .sort((a, b) => b.data.begin - a.data.begin)
  .slice(0, 3);
---

<Layout title="Matteo Gassend">
  <div class="w-full flex flex-col md:flex-row h-full">
    <div
      class="order-last sticky z-10 md:z-0 bottom-0 md:relative md:order-first md:w-1/5 md:h-full shadow-md pl-0 md:pl-2"
    >
      <nav class="md:hidden"></nav>
      <nav class="hidden md:block sticky top-0">
        <ul class="flex flex-col">
          <li class="menu__item"><a href="#about">About Me</a></li>
          <li class="menu__item"><a href="#skills">Skills</a></li>
          <li class="menu__item"><a href="#projects">Projects</a></li>
          <li class="menu__item"><a href="#articles">Articles</a></li>
          <li class="menu__item"><a href="#experience">Experience</a></li>
          <li class="menu__item"><a href="#education">Education</a></li>
          <li class="menu__item">
            <a href="#certifications">Certifications</a>
          </li>
          <li class="menu__item"><a href="#contact">Contacts</a></li>
        </ul>
      </nav>
    </div>
    <div class="w-full px-2 space-y-2 lg:space-y-12">
      <section id="about">
        <div class="flex flex-col md:flex-row items-center justify-evenly mt-3">
          <h1 class="text-3xl">Hello, my name is <b>Matteo</b></h1>
        </div>
        <p>
          I am a fullstack developer with {new Date().getFullYear() - 2018} years
          of experience in the industry.
        </p>
        <p>
          I have a passion for creating innovative and efficient solutions using
          the latest technologies.
        </p><p>
          My expertise includes all things related to:
          <ul class="list-disc">
            <li>Javascript</li>
            <li>HTML/CSS</li>
            <li>Python</li>
            <li>Relational (and not) Databases</li>
          </ul>
          and I have experience working on a variety of projects, from [examples
          of types of projects you've worked on].
        </p>
      </section>
      <section id="skills"></section>
      <section id="projects">
        <h2 class="section__title">I worked on things like these</h2>
        <div class="flex flex-col space-y-4">
          {
            projects.map((e, idx) => (
              <ProjectCard
                project={e}
                side={idx % 2 === 0 ? "left" : "right"}
              />
            ))
          }
        </div>
      </section>
      <section id="articles">
        <h2 class="section__title">I like to write things from time to time</h2>
        <div class="section__grid">
          {articles.map((e: Article) => <ArticleCard article={e} />)}
        </div>
      </section>
      <section id="experience">
        <h2 class="section__title">This is where I worked</h2>
        <div class="section__grid">
          {experiences.map((e) => <ExpCard experience={e} />)}
        </div>
      </section>
      <section id="education">
        <h2 class="section__title">Here's where I studied</h2>
        <div class="section__grid">
          {education.map((e) => <EducationCard education={e} />)}
        </div>
      </section>
      <section id="certifications">
        <h2 class="section__title">Certificates</h2>
        <div class="section__grid">
          {certicates.map((e) => <CertificateCard certificate={e} />)}
        </div>
      </section>
      <section id="contact">
        <h2 class="section__title">React Out</h2>
        <ContactCard />
      </section>
    </div>
  </div>
</Layout>

<style>
  .menu__item {
    @apply px-2 py-3 hover:-translate-y-2 transform transition-all hover:shadow-md;
  }
  .section__title {
    @apply text-center font-bold text-2xl;
  }
  .section__grid {
    @apply w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
  }
</style>
