---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ArticleCard from "../components/ArticleCard.astro";
import EducationCard from "../components/EducationCard.astro";
import ExpCard from "../components/ExpCard.astro";
import { Picture } from "astro:assets";
import profilePic from "../assets/matteo.jpg";
import skills from "../utils/skills.json";
import { contact } from "../utils/data.json";
import Section from "@components/Section.astro";
import Header from "@components/Header.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.date - a.data.date
).slice(0,3)

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.publishDate - a.data.publishDate
);

const education = (await getCollection("education"))
  .sort((a, b) => b.data.graduation - a.data.graduation)
  .slice(0, 3);
const experiences = (await getCollection("experience")).sort(
  (a, b) => b.data.begin - a.data.begin
);
---

<Layout title="Matteo Gassend">
  <Header slot="header" />
  <section id="hero">
    <div class="flex flex-wrap">
      <div class="md:px-14 px-4 lg:w-1/2 w-full">
        <h1
          class="xl:pt-32 pt-14 uppercase font-bold text-7xl md:text-8xl xl:text-9xl leading-[0.6] md:leading-[0.7] xl:leading-[0.6] text-gray-800 md:tracking-tight antialiased"
        >
          Matteo<br />
          <span class="text-5xl md:text-7xl xl:text-8xl tracking-[0.3em]"
            >Gassend</span
          >
        </h1>
        <p class="pt-10 text-2xl text-gray-500">
          Hello!<br />
          I am a fullstack developer with 3 years of experience.
        </p>
        <p class="xl:pb-40 md:pb-20 pb-12 text-2xl text-gray-500">
          I leverage web technologies to build web, mobile and desktop
          applications.
        </p>
      </div>
      <div
        class="lg:w-1/2 w-full md:min-h-full bg-primary-darker md:flex md:items-end md:justify-end p-8"
      >
        <h2
          class="uppercase text-white opacity-40 text-5xl md:text-7xl font-bold leading-[0.8] tracking-wider"
        >
          fullstack<br />developer<span class="font-normal">_</span>
        </h2>
      </div>
    </div>
    <div class="container mx-auto w-auto lg:w-1/2 mt-16">
      <p
        class="uppercase text-4xl xl:text-5xl font-bold text-center leading-tight text-gray-800"
      >
        In love with new technologies and creating the best performing user
        experience
      </p>
    </div>
  </section>
  <section id="about" class="section-container">
    <h3 class="title">About<span class="font-normal">_</span></h3>
    <div class="flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:order-last">
        <Picture
          class="border border-gray-200 w-96 mx-auto mb-16"
          src={profilePic}
          alt="me"
        />
      </div>
      <div class="lg:w-1/2 w-full">
        <p class="lead">A fullstack developer with hobbies</p>
        <p class="section">
          Born in Florence on February 5th, 1999, I'm a mission-driven fullstack
          developer with a passion for collaboration and teaching. I love making
          side projects in my spare time to solve personal problems and
          (hopefully) help others. As a web developer, I enjoy using my
          obsessive attention to detail and my mission-driven work ethic to make
          stuff. Sometimes, I also play music (or I try)
        </p>
        <p class="font-bold uppercase text-3xl xl:text-5xl my-12">
          All you need to know
        </p>
        <a
          class="p-2 border-2 border-black font-bold text-lg cursor-pointer hover:text-white hover:bg-primary-darker"
          href="/cv_fr.pdf"
          data-astro-reload>My CV &rarr;</a
        >
      </div>
    </div>
  </section>
  <section id="education" class="section-container">
    <p class="lead">Here's where I studied</p>
    <p class="section">From Italy to France (and Sweden for a while).</p>
    <div class="scroll-item">
      {
        education.map((education, index) => (
          <div class="w-full h-full">
            <EducationCard education={education} index={index + 1} />
          </div>
        ))
      }
    </div>
  </section>
  <section id="skills" class="section-full bg-primary-lighter">
    <div class="container-section-full">
      <p class="lead">skills</p>
      <p class="section">Systems & tools oh my</p>
      <div class="flex flex-wrap justify-start">
        {
          Object.entries(skills).map(([category, list]) => (
            <div class="pr-8 pb-8">
              <p class="text-xl font-bold uppercase">
                {category}
                <span class="font-normal">_</span>
              </p>
              <ul>
                {list.map((skill) => (
                  <li class="text-lg capitalize">{skill}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <Section
    id="work"
    title="Work"
    lead="Here's where I worked"
    section="All the previous entities"
  >
    <div class="scroll-item">
      {
        experiences.map((experience, index) => (
          <div class="w-full h-full">
            <ExpCard experience={experience} index={index + 1} />
          </div>
        ))
      }
    </div>
  </Section>
  <Section
    id="projects"
    title="Projects"
    lead="What I do"
    section="I built these: use scrollbar ;-)"
  >
    <div class="flex flex-wrap w-full">
      {
        projects.map((project) => (
            <ProjectCard project={project} />
        ))
      }
    <div class="text-center pt-8 w-full">
      <a
        href="/projects"
        class="font-bold text-2xl text-primary-darker hover:text-black"
        >See All Projects</a
      >
    </div>
    </div>
  </Section>
  <Section
    id="blog"
    title="Blog"
    lead="Latest Articles"
    section="Sometimes I write"
  >
    <div class="flex flex-wrap">
      {articles.slice(0, 3).map((article) => <ArticleCard article={article} />)}
    </div>
    <div class="text-center pt-8">
      <a
        href="/blog"
        class="font-bold text-2xl text-primary-darker hover:text-black"
        >Read More Articles</a
      >
    </div>
  </Section>
  <section class="section-container" id="contact">
    <h3 class="title">reach out<span class="font-normal">_</span></h3>
    <p class="lead">get in touch</p>
    <p class="text-2xl md:text-7xl 2xl:text-8xl pt-10">
      <a
        href={`mailto:${contact.email}`}
        class="text-gray-400 hover:text-primary-darker">{contact.email}</a
      >
    </p>
    <p class="text-2xl md:text-5xl 2xl:text-6xl pt-6">
      <a
        href={`tel:${contact.phone.replace(/\s+/g, "")}`}
        class="hover:text-primary-darker">{contact.phone}</a
      >
    </p>
    <p class="section">I'll get in touch ASAP, I promise</p>
  </section>
</Layout>
