---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils/date";

export interface Props {
  article: CollectionEntry<"articles">;
  extraClass?: String;
}

const { article, extraClass } = Astro.props;
---

<article
  transition:name={`article-${article.slug}`}
  class={`w-full lg:w-1/3 h-[300px] relative bg-cover bg-center border border-white ${extraClass}`}
  style={`background-image:url("${article.data.cover_image}")`}
>
  <div
    class="absolute top-0 left-0 w-full min-h-full bg-[#374053] bg-opacity-40 flex flex-col p-6"
  >
    <h3 class="font-bold text-white opacity-70 leading-none">
      {article.data.title}
    </h3>
    <p class="text-base opacity-80 text-white mt-4">
      Published {formatDate(article.data.publishDate)}
    </p>
    <div class="mt-auto">
      <a
        class="little-btn-white"
        rel="noreferrer"
        aria-label={`read more about ${article.data.title}`}
        title={article.data.title}
        href={`/blog/${article.slug}`}>Learn More</a
      >
    </div>
  </div>
</article>
