---
import { Icon } from "astro-icon";
import type { CollectionEntry } from "astro:content";

export interface Props {
  certificate: CollectionEntry<"certifications">;
}

const { certificate } = Astro.props;
---

<article class="min-h-[6rem] w-96 bg-slate-700 p-4 shadow-md">
  <div class="flex flex-col justify-center items-center space-y-2">
    <h1 class="font-extrabold text-xl">
      {certificate.data.rank}
      {certificate.data.title}
    </h1>
    <p>{certificate.data.institution} ({certificate.data.obtentionYear})</p>
    <Icon class="h-10" name={certificate.data.language} />
  </div>
</article>
