---
import {Picture} from '@astrojs/image/components';
import type { CollectionEntry } from 'astro:content';

export interface Props {
	education: CollectionEntry<"education">;
}

const { education } = Astro.props;
const educationLogo = await import("../images/education" + education.data.logo)
---

<div class="group w-full">
    <h2>{education.data.schoolName}</h2>
    <!-- <Picture src={educationLogo} alt={education.data.schoolName} widths={[200]} aspectRatio="1:1" /> -->
    <p>{education.data.city},{education.data.country}</p>
    <div class="hidden group-hover:block">
        <p>{education.data.begin.toDateString()} - {education.data.graduation.toDateString()}</p>
        <p>{education.data.title}</p>
    </div>
</div>