---
import type { CollectionEntry } from "astro:content";

export interface Props {
  education: CollectionEntry<"education">;
}

const { education } = Astro.props;
---

<article class="group w-full border border-black p-4">
  <h2>{education.data.schoolName}</h2>
  <p>{education.data.city},{education.data.country}</p>
  <div>
    <p>
      {education.data.begin.toDateString()} - {
        education.data.graduation.toDateString()
      }
    </p>
    <p>{education.data.title}</p>
  </div>
</article>
