---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils/date";

export interface Props {
  education: CollectionEntry<"education">;
  index: number;
}

const { education, index } = Astro.props;

function zeroPad(num, places) {
  const zero = places - num.toString().length + 1;
  return Array(+(zero > 0 && zero)).join("0") + num;
}

---

<article class="w-[390px] sm:w-[640px] md:w-[400px] px-6 py-3">
  <p class="text-gray-400 text-2xl pb-2">{zeroPad(index, 2)}_</p>
  <p class="font-bold uppercase text-gray-800 leading-none">{education.data.schoolName}<span class="font-normal">_</span></p>
  <p class="pt-4 font-bold text-2xl">{education.data.title}</p>
  <p class="text-2xl text-gray-500">{education.data.city} - {education.data.country}</p>
  <p class="text-xl text-gray-500 my-12]">{zeroPad(education.data.begin.getMonth(), 2)}-{education.data.begin.getFullYear()} | {zeroPad(education.data.graduation.getMonth(), 2)}-{education.data.graduation.getFullYear()}</p>
</article>