---
import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  experience: CollectionEntry<"experience">;
  index: number;
}

const { experience, index } = Astro.props;

const {Content} = await experience.render()


function zeroPad(num, places) {
  const zero = places - num.toString().length + 1;
  return Array(+(zero > 0 && zero)).join("0") + num;
}

---

<article class="flex flex-col">
  <p>{zeroPad(index, 2)}_</p>
  <p class="font-bold text-[40px]">{experience.data.companyName}<span class="font-normal">_</span></p>
  <p class="font-bold text-[35px]">{experience.data.role}</p>
<p>
  <Content />
</p>
<p class="text-[35px] text-[#6B6B6B]">{zeroPad(experience.data.end.getMonth(), 2)}-{experience.data.begin.getFullYear()} | {zeroPad(experience.data.begin.getMonth(), 2)}-{experience.data.end.getFullYear()}</p>
</article>