---
import { Icon } from "astro-icon";
import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article
  class={`min-h-[12rem] duration-300 hover:shadow-xl hover:scale-105  transition-all bg-slate-700 rounded group`}
>
  <div class="flex flex-col">
    <img
      src={project.data.image}
      alt={project.data.title}
      class="w-full h-auto transition-transform rounded"
    />
    <div class="flex flex-col p-4">
      <div class="w-auto">
        <a
          class="text-xl group-hover:text-purple-400 transition-all"
          href={`/projects/${project.slug}`}
        >
          {project.data.title}
        </a>
      </div>
      <p>{project.data.summary}</p>
      <div class="flex justify-evenly mt-2">
        {project.data.stack.map((e) => <StackElement name={e} />)}
      </div>
      <div class="mt-4 flex justify-center lg:hidden">
        <a
          href={`/projects/${project.slug}`}
          class="p-4 border border-transparent hover:border-white transition-all"
          >Read More about {project.data.title}</a
        >
      </div>
    </div>
  </div>
</article>
