---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article class={`min-h-[12rem] bg-slate-700 rounded group`}>
  <div class="flex flex-col">
    <div class="w-full h-auto relative">
      <div
        class="absolute duration-300 translate-y-4 group-hover:translate-y-0 transition-all opacity-0 group-hover:opacity-100 bottom-0 h-1/4 w-full z-10 bg-black/50 hidden justify-evenly items-center md:flex"
      >
        {project.data.stack.map((e) => <StackElement name={e} />)}
      </div>
      <Image
        src={project.data.image}
        alt={project.data.title}
        class="w-full h-auto transition-transform rounded"
      />
    </div>
    <div class="flex flex-col p-4">
      <div class="w-auto">
        <h1 class="text-xl font-semibold">
          {project.data.title}
        </h1>
      </div>
      <p>{project.data.summary}</p>
      <div class="flex justify-evenly mt-2 md:hidden">
        {project.data.stack.map((e) => <StackElement name={e} />)}
      </div>
      <div
        class="flex flex-col md:flex-row justify-evenly mt-2 space-y-4 md:space-y-0"
      >
        {
          project.data.productionUrl && (
            <a
              target="_blank"
              class="button primary flex justify-center"
              href={project.data.productionUrl}
            >
              See it live
            </a>
          )
        }
        {
          project.data.githubUrl && (
            <a
              aria-label="see source code"
              target="_blank"
              href={project.data.githubUrl}
              class="button secondary flex justify-center"
            >
              <Icon name="mdi:github" class="h-8 w-8" />
            </a>
          )
        }
      </div>
    </div>
  </div>
</article>
