---
import { Icon } from "astro-icon";
import type { CollectionEntry } from "astro:content";

export interface Props {
  project: CollectionEntry<"projects">;
  side: "left" | "right";
}

const { project, side } = Astro.props;
---

<article
  class={`h-96 w-full lg:w-2/3 relative bg-center bg-cover transition-all duration-300 hover:shadow-lg ${
    side === "left" ? "hover:translate-x-2" : "hover:-translate-x-2"
  }  ${side === "left" ? "" : "self-end"}`}
  style={`background-image:url(${project.data.image})`}
>
  <div
    class="lg:opacity-0 lg:hidden flex flex-col justify-center items-center bg-opacity-70 bg-black h-full"
  >
    <h1>{project.data.title}</h1>
    <p>{project.data.summary}</p>
    <a
      href={`/projects/${project.slug}`}
      class="p-4 border-transparent hover:border-white transition-[border] duration-300"
      >Learn More</a
    >
  </div>
  <a
    href={`/projects/${project.slug}`}
    class={`opacity-0 lg:opacity-100 hidden lg:flex absolute bottom-1/2 bg-black p-4 hover:border-white transition-[border] duration-300 border-transparent border-2 w-36 h-16 flex-col items-center justify-center ${
      side === "left" ? "-right-12" : "-left-12"
    }`}
  >
    <h1>{project.data.title}</h1>
  </a>
</article>

<!-- <article
  class="shadow-xl h-96 bg-cover bg-center transform duration-500 hover:-translate-y-2 group"
  style={`background-image:url(${project.data.image})`}
>
  <div
    class="bg-black bg-opacity-20 h-full px-10 flex flex-wrap flex-col justify-end hover:bg-opacity-75 transform duration-300"
  >
    <h1
      class="text-3xl transform translate-y-2 group-hover:translate-y-0 duration-300"
    >
      {project.data.title}
    </h1>
    <div
      class="opacity-0 text-white group-hover:opacity-80 transform duration-500"
    >
      <p class="text-xl">
        {project.data.summary}
      </p>

      <div class="w-full flex justify-end mb-2">
        <a
          rel="prefetch"
          href={`/projects/${project.slug}`}
          class="border border-transparent bg-indigo-400 rounded-full px-2 py-2"
          >Read More &rarr;</a
        >
      </div>
    </div>
  </div>
</article> -->
