---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import StackElement from "./StackElement.astro";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article class="flex flex-col w-[390px] sm:w-[640px] md:w-[400px] h-[320px] md:h-[300px] bg-primary-darker px-6 pb-6 pt-3 border border-white">
  <h3                 transition:name={`project-${project.slug}`}
  class="font-bold uppercase text-white opacity-40">{project.data.title}<span class="font-normal">_</span></h3>
  <p class="text-white text-base pt-6 pb-4">{project.data.summary}</p>
  <div class="flex flex-wrap justify-items-start gap-4">
    {project.data.stack.map((e) => <StackElement name={e} />)}
  </div>
  <div class="flex w-full mt-auto gap-4 pt-8">
    <a class="little-btn-white" href={`/projects/${project.slug}`}>Read More</a>
    {project.data.githubUrl && <a target="_blank" rel="noreferrer" class="little-btn-white" href={project.data.githubUrl}>See Source Code</a>}
    {project.data.productionUrl && <a target="_blank" rel="noreferrer" class="little-btn-white" href={project.data.productionUrl}>See it Live</a>}
  </div> 
</article>