---
import {getEntryBySlug} from 'astro:content';
import StackElement from '../../components/StackElement.astro';
import Layout from '../../layouts/Layout.astro';

const {slug} = Astro.params;

const project = await getEntryBySlug('projects', slug!);
if (project === undefined) Astro.redirect('/');
const {Content} = await project!.render();
---

<Layout title={`Matteo Gassend - ${project?.data.title}`}>
  <div
    class="w-full h-96 bg-cover bg-center"
    style={`background-image: url(${project?.data.image});`}
  >
    <div
      class="w-full h-full bg-black bg-opacity-75 flex flex-col justify-end p-4"
    >
      <h1 class="text-3xl font-bold">{project?.data.title}</h1>
      <h2>{project?.data?.summary}</h2>
      <div class="flex gap-4 items-center">
        {project?.data?.stack?.map((e: string) => <StackElement name={e} />)}
      </div>
      <div class="w-full flex justify-end space-x-4">
        {
          project?.data.productionUrl && (
            <a
              rel="noreferrer"
              target="_blank"
              href={project?.data.productionUrl}
            >
              See It live
            </a>
          )
        }
        <a rel="noreferrer" target="_blank" href={project?.data.githubUrl}
          >Peek under the hood</a
        >
      </div>
    </div>
  </div>
  <Content />
</Layout>
